.Input {
  width: 33.25rem;
  min-height: 5.375rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.InputLabel {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 0.5rem;
  height: 1.4rem;
  text-transform: capitalize;
}
.InputLabel > label {
  color: #6b6b6c;
  font-size: 1rem;
  letter-spacing: 0px;
  opacity: 1;
}
.Select {
  display: flex;
  align-self: flex-start;
  align-items: center;
  width: 16rem;
  height: 4.25rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #4d4d4d60;
  background-color: white;
}
.Select > button {
  background-color: white;
  border: none;
  flex: 1;
  font-size: 0.875rem;
  text-align: left;
  cursor: pointer;
  padding-left: 1rem;
}

.DropDownArrow {
  margin-right: 0.5rem;
  filter: brightness(0) saturate(100%) invert(12%) sepia(90%) saturate(4187%)
    hue-rotate(269deg) brightness(86%) contrast(100%);
}
.Open {
  transform: rotate(180deg);
}
.options {
  border: 1px solid black;
}
.Menu {
  position: absolute;
  margin-top: 6.5rem;
  margin-bottom: auto;
  box-sizing: border-box;
  width: inherit;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  cursor: pointer;
  padding: 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  display: none;
  height: max-content;
}

.Menu :hover {
  background-color: #f1f1f1;
  color: #9349de;
}
.Menu > li {
  width: inherit;
  font-size: 0.9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
}
.Menu > li:active {
  color: #9349de;
}

.Show {
  display: flex;
}

.placeholder {
  color: #4d4d4d60;
}
.options {
  color: black;
  background-color: aqua;
}

.Small {
  width: 16rem;
}
