.SearchBar {
  width: inherit;
  height: 3.75rem;
  background-color: white;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Button {
  height: 1.3rem;
}
.Button > button {
  width: 7.735rem;
  border: none;
  background-color: white;
  color: #0000007e;
  font-weight: bold;
  font-size: 1rem;
  border-right: 1px solid #d3d3d3;
  cursor: pointer;
}

.Button > button:active {
  font-size: 0.95rem;
}
.Input {
  max-width: 46.875rem;
  height: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
.Input > input {
  font-size: 0.9rem;
  border-radius: 0px;
  height: inherit;
  min-width: 10rem;
}
.Input > button {
  background-color: white;
  height: inherit;
  border: none;
  box-sizing: border-box;
  padding: 0rem 2.775rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Input > button :active {
  height: 1.05rem;
}
.Input > button > img {
  height: 1.1rem;
}
.Dropdown {
  width: 9rem;
  border-left: 1px solid #d3d3d3;
}
