.ForgetPWModal {
  width: 50.5rem;
  height: 35rem;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 12px #00000024;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FPModal_Top {
  width: inherit;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 1.875rem 1.875rem auto auto;
}
.FPModal_Top > button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0rem 1.875rem;
}
.FPModal_Bottom {
  width: 33.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.FPModal_Bottom h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #9349de;
  line-height: 3.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.FPModal_Bottom > p {
  color: #888889;
  font-size: 1.4rem;
  text-align: left;
  letter-spacing: 0px;
  font-weight: semi-bold;
}
.FPModal_Bottom > .Modal_Input {
  margin-top: 1.5rem;
}
.FPModal_Bottom > .ForgotPassword {
  margin-top: 0;
}
.FPModal_Bottom > .ForgotPassword > a {
  text-align: right;
  color: #ffba00;
  font-size: 0.8rem;
  font-weight: normal;
}
.FPModal_Bottom > .Button {
  margin-top: 0.5rem;
}
