.Slider {
  max-width: 102.25rem;
  width: 100%;
  box-sizing: border-box;
  min-height: 30rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 1.9rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Slider_Heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.Slider_Cards {
  display: flex;
  height: fit-content;
  box-sizing: border-box;
  padding: 0.5rem;
  gap: 1.4rem;
  overflow: scroll;
  scroll-behavior: smooth;
  background: transparent;
}
.Slider_Cards::-webkit-scrollbar {
  display: none;
}
